services:
  prometheus:
    image: prom/prometheus:v3.8.0
    user: ${USER_ID}:${GROUP_ID}
    container_name: prometheus-ts
    hostname: prometheus-ts
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.retention.time=90d
      - --storage.tsdb.path=/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prom-data:/prometheus
    restart: unless-stopped
    networks:
      - ts-monitoring
    healthcheck:
      test: [ "CMD-SHELL", "wget --spider http://localhost:9090/-/healthy || exit 1" ]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 5s
    logging:
      driver: journald
    labels:
      wud.tag.include: ^v\d+\.\d+\.\d+$
      wud.display.name: prometheus

      traefik.enable: true
      traefik.docker.network: traefik
      traefik.http.routers.prometheus.entrypoints[0]: web
      traefik.http.routers.prometheus.entrypoints[1]: websecure
      traefik.http.routers.prometheus.rule: Host(`prometheus.homesvr.haltonc.com`)
      traefik.http.routers.prometheus.tls.certresolver: production
      traefik.http.routers.prometheus.tls.domains[0].main: homesvr.haltonc.com
      traefik.http.routers.prometheus.tls.domains[0].sans: "*.homesvr.haltonc.com"
      traefik.http.services.prometheus.loadbalancer.server.port: 9090
      traefik.http.services.prometheus.loadbalancer.healthcheck.path: /-/healthy
      traefik.http.services.prometheus.loadbalancer.healthcheck.interval: 15s
      traefik.http.services.prometheus.loadbalancer.healthcheck.timeout: 5s

  grafana:
    image: grafana/grafana:12.3.0
    command: ['./run.sh', '-disable-reporting']
    container_name: grafana-ts
    user: ${USER_ID}:${GROUP_ID}
    hostname: grafana-ts
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    env_file:
      - .env
    volumes:
      - ./grafana-data:/var/lib/grafana
    restart: unless-stopped
    networks:
      - ts-monitoring
    depends_on:
      prometheus:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:3000/api/health || exit 1" ]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 5s
    logging:
      driver: journald
    labels:
      traefik.enable: true
      traefik.docker.network: traefik
      traefik.http.routers.grafana.entrypoints[0]: web
      traefik.http.routers.grafana.entrypoints[1]: websecure
      traefik.http.routers.grafana.rule: Host(`grafana.homesvr.haltonc.com`)
      traefik.http.routers.grafana.tls.certresolver: production
      traefik.http.routers.grafana.tls.domains[0].main: homesvr.haltonc.com
      traefik.http.routers.grafana.tls.domains[0].sans: "*.homesvr.haltonc.com"
      traefik.http.services.grafana.loadbalancer.server.port: 3000
      traefik.http.services.grafana.loadbalancer.healthcheck.path: /api/health
      traefik.http.services.grafana.loadbalancer.healthcheck.interval: 15s
      traefik.http.services.grafana.loadbalancer.healthcheck.timeout: 5s
      wud.tag.include: ^\d+\.\d+\.\d+$
      wud.display.name: grafana

networks:
  ts-monitoring:
    external: true
    name: traefik
